* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  font-size: 1.96vw;
  line-height: 1.5;
  color: #999999;
}
ol {
  list-style: none;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.main {
  padding: 10px;
}
.group-title {
  position: relative;
  width: 100%;
  margin: 4.2vw 0;
  padding: 0 2.8vw;
}
.group-title img {
  width: 100%;
}
.group-title h2 {
  position: absolute;
  left: 19.6vw;
  top: 50%;
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 2;
  font-size: 3.64vw;
  color: #f8fdab;
}
.group-title h2 span {
  margin-left: 1.4vw;
  font-weight: 400;
  font-size: 3.36vw;
  color: #f8fdab;
}
.group-title .tips {
  position: absolute;
  bottom: -0.84vw;
  right: 0;
  margin-right: 4.2vw;
  font-size: 0.84vw;
  line-height: 1.4;
}
.group-title .tips a {
  padding: 0.14vw;
  font-size: 0.84vw;
  line-height: 1.4;
  color: #999999;
  background-color: transparent;
  text-decoration: none;
  border-radius: 0;
  border: 0;
}
.group-title .tips a:hover {
  color: #999999;
  text-decoration: underline;
}
.group-list {
  margin-bottom: 4.2vw;
  padding: 3.5vw;
  border-radius: 1.4vw;
  box-shadow: 0 0.56vw 1.54vw rgba(224, 224, 224, 0.42);
}
.group-list .stage {
  margin-bottom: 4.2vw;
}
.group-list .stage h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 0.84vw;
  font-size: 2.24vw;
  line-height: 5.32vw;
  color: white;
  background-color: #2a71ff;
  padding: 0 2.24vw;
  border-radius: 10px;
}
.group-list .stage p {
  font-size: 1.4vw;
  line-height: 1.2;
}
.group-list .stage .grid-list .episode .content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15.4vw;
  padding: 1.4vw 0;
}
.group-list .stage .grid-list .episode .content .title {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15.96vw;
  height: 12.6vw;
  margin-right: 1.4vw;
  border-radius: 0.84vw;
  background-color: #f5f5f5;
  vertical-align: middle;
}
.group-list .stage .grid-list .episode .content .title h4 {
  text-align: center;
  font-weight: 400;
  font-size: 1.82vw;
  color: #000;
}
.group-list .stage .grid-list .episode .content .video-link {
  flex-shrink: 0;
  width: 19.6vw;
}
.group-list .stage .grid-list .episode .content .video-link img {
  width: 100%;
  border-radius: 0.84vw;
  transition: all 0.15s ease;
}
.group-list .stage .grid-list .episode .content .video-link img:hover {
  transform: translateY(-0.14vw);
  box-shadow: 0 0.28vw 0.28vw 0 #ccc;
}
.group-list .stage .grid-list .episode .content .info {
  width: 0;
  flex: 1;
  height: 90%;
  margin: 0 1.4vw;
}
.group-list .stage .grid-list .episode .content .info h5 {
  margin: 0.84vw 0;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.group-list .stage .grid-list .episode .content .info p {
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1.12vw;
  line-height: 1.4;
}
.group-list .stage .grid-list .episode .content .practice {
  height: 80%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.group-list .stage .grid-list .episode .content .practice a {
  display: inline-block;
  padding: 0 2.24vw;
  line-height: 3.36vw;
  font-size: 1.82vw;
  color: gray;
  text-decoration: none;
  background-color: #f5f5f5;
  border-radius: 1.68vw;
  overflow: visible;
  white-space: nowrap;
}
.group-list .stage .grid-list .episode .content .practice a.active {
  color: #ff7f2a;
}
.group-list .stage .grid-list .episode .content .practice a:hover {
  color: #fff;
  background-color: #ff962e;
}
footer {
  font-size: 1.4vw;
  line-height: 2.24vw;
  text-align: center;
  color: #aaa;
}
footer img {
  height: 1.12vw;
  margin: 0 0.28vw 0.28vw;
  vertical-align: middle;
}
